@model MusicShop.Web.Models.UserData
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Minton - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">

    <!-- App css -->
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/icons/css")
    @Styles.Render("~/bundles/app/css")
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/vendor/js")
    @Scripts.Render("~/bundles/jquery-knob/js")
    @Scripts.Render("~/bundles/peity/js")

    <!-- Sparkline charts -->
    @Scripts.Render("~/bundles/jquery-sparkline/js")

    <!-- init js -->
    @Scripts.Render("~/bundles/dashboard-1/js")

    <!-- App js -->
    @Scripts.Render("~/bundles/app/js")
    @Scripts.Render("~/bundles/jqueryval/js")
</body>
</html>
</html>
